@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");

.navbar {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  border-bottom: #bfcc5e;
}

.navGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
}

.techUse {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: #2196f3; */
  padding: 5px;
  margin: 0 300px;
}

.project {
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  color: yellowgreen;
  border: 5px solid #80e1c3;
  font-family: "Comic Neue", "cursive";
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.projectNames {
  padding: 15px;
}

.projectList {
  margin-left: 100px;
  margin-right: 100px;
}

.buttons {
  padding: 15px;
}

.eachbutton {
  width: 100px;
  margin: 3px;
  height: 40px;
  background-color: #bfcc5e;
  font-size: 25px;
  text-decoration: none;
  font-family: "Comic Neue", cursive;
  border-radius: 20px;
  border: 1px solid #263803;
  color: rgb(26, 2, 2);
  font-weight: bold;
}

.Intro {
  /* display: flex; */
  display: block;
  margin: auto;
  /* flex-wrap: wrap; */
  margin-top: 30px;
  margin-bottom: 50px;
  /* margin-left: 200px; */
  font-family: Comic Neue, cursive;
  font-weight: 700;
  /* margin-top: 200px; */
  font-size: 50px;
  width: 40%;

  align-content: center;
  justify-content: center;
}
.heading {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.allTech {
  margin: 50px;
}

.line {
  color: white;
  width: 700px;
}

.navbarContent {
  cursor: pointer;
}

.navbarContent:hover {
  color: yellow;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.inputElement {
  width: 30%;
  border-radius: 10px;
  height: 60px;
  background-color: #f3fffb;
  font-size: 20px;
  border: white;
  font-weight: bold;
  margin: 20px;
  color: black;
  padding: 20px;
}

.textarea {
  width: 30%;
  border-radius: 10px;
  background-color: #dcff96;
  border: #557e02;
  margin: 20px;
  height: 200px;
  font-size: 20px;
  color: black;
  padding: 20px;
}
.formButton {
  width: 20%;
  border-radius: 20px;
  font-size: 20px;
  border: 2px solid blue;
  background-color: #007bff;
  padding: 10px;
  cursor: pointer;
}
